<header id="landing">
  <section class="landing">
    <img
      class="landing__logo"
      src="./assets/images/jokers_del_script.png"
      alt="Logo"
      title=""
    />
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <p class="landing__description">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <article class="landing__icons">
      <div>
        <i class="fa-regular fa-object-ungroup landing__icons--img"></i>
        <h4 class="landing__icons--text">Diseña</h4>
      </div>
      <div>
        <i class="fa-regular fa-keyboard landing__icons--img"></i>
        <h4 class="landing__icons--text">Rellena</h4>
      </div>
      <div>
        <i class="fa-solid fa-share-nodes landing__icons--img"></i>
        <h4 class="landing__icons--text">Comparte</h4>
      </div>
    </article>
    <a class="landing__link" href="./cards.html">Comenzar</a>
  </section>
</header>
