<fieldset class="design" >
  <div class="design__title js-design" id="design">
    <div class="design__container">
      <i class="design__title--icon fa-regular fa-object-ungroup"></i>
      <h2 class="design__title--title">Diseña</h2>
  </div>
    <i class="design__title--icon2 fa-solid fa-chevron-up js-design-arrow" ></i>
</div>
 
  <div class="election js-designFieldset">
     <h3 class="design__color">Colores</h3>
    <div class="election__options point">
    <label class="color-palet" for="colors1"
      ><input
      class="js_radio js_firstRadio"
        id="colors1"
        type="radio"
        value="1"
        name="selectcolors"
        checked
      />
      <div class="election__options rectangle">
        <div class="rectangle-1__a"></div>
        <div class="rectangle-1__b"></div>
        <div class="rectangle-1__c"></div>
      </div>
    </div>
    </label>
    <div class="election__options point">
    <label class="color-palet" for="colors2"
      ><input
      class="js_radio"
        id="colors2"
        type="radio"
        value="2"
        name="selectcolors"
      />
      <div class="election__options rectangle">
        <div class="rectangle-2__a"></div>
        <div class="rectangle-2__b"></div>
        <div class="rectangle-2__c"></div>
      </div>
    </div>
    </label>
    <div class="election__options point">
    <label class="color-palet" for="colors3"
      ><input
      class="js_radio"
        id="colors3"
        type="radio"
        value="3"
        name="selectcolors" />
      <div class="election__options rectangle">
        <div class="rectangle-3__a"></div>
        <div class="rectangle-3__b"></div>
        <div class="rectangle-3__c"></div></div
    ></label>
  </div>
</div>
</fieldset>
