<section class="main__preview">
  <button class="button js-reset-btn">
    <i class="fa-solid fa-bomb"></i>
    <p class="button__reset">Reset</p>
  </button>
  <aside class="card js_preview-container palette-1">
    <div class="card__info">
      <p class="card__info--name js_previewName" id="name">Nombre apellido</p>
      <p class="card__info--job js_previewJob" id="job">Front-end developer</p>
    </div>
    <div class="card__photo js__profile-image" id="profileImage"></div>
    <ol class="rrss">
      <li class="rrss__list">
        <a href="" class="js_previewTel js_previewBtn" id="phone">
          <i class="rrss__list--item fa-solid fa-mobile-screen fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list">
        <a
          href=""
          target="_blank"
          class="js_previewEmail js_previewBtn"
          id="email"
        >
          <i class="rrss__list--item fa-regular fa-envelope fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list">
        <a
          href=""
          target="_blank"
          class="js_previewLinkedin js_previewBtn"
          id="linkedin"
        >
          <i class="rrss__list--item fa-brands fa-linkedin-in fa-xl"></i>
        </a>
      </li>
      <li class="rrss__list">
        <a
          href="#"
          target="_blank"
          class="js_previewGithub js_previewBtn"
          id="github"
        >
          <i class="rrss__list--item fa-brands fa-github-alt fa-xl"></i>
        </a>
      </li>
    </ol>
  </aside>
</section>
