<fieldset class="share1">
  <div class="share1__div js-share" id="share">
    <div class="header-container">
      <i class="fa-solid share1__div--icon fa-share-nodes"></i>
      <h3 class="share1__div--h3">Comparte</h3>
    </div>
    <i class="share1__div--up fa-solid fa-chevron-up js-share-arrow"></i>
  </div>

  <div class="share1__container js-shareFieldset collapsed">
    <button class="share1__container--button js_shareBtn">
      <i class="fa-solid fa-address-card"></i> Crear tarjeta
    </button>
    <p class="js_warning warning"></p>
  </div>

  <div class="js_shareTwitter collapsed">
    <!-- ^este div va con la clase share2 -->

    <p class="share2__p">La tarjeta ha sido creada:</p>

    <div class="share2">
      <a
        class="share2__link js_link-card"
        href="https://awesome-profile-card.com?id=A456DF0001"
        target="_blank"
      ></a>
      <a href="#" class="js_shareTwitterBtn" target="_blank">
        <button class="share2__button--twitter">
          <i class="fa-brands fa-twitter"></i>Compartir en twitter
        </button>
      </a>
    </div>
  </div>
</fieldset>

<!-- <div class="js-shareFieldset"> -->
<!-- <fieldset class="share1"> -->
<!-- <fieldset class="share2"> -->
