// fonts
$font-main: "Open Sans", sans-serif;
$font-title: "Merriweather", serif;

// colors
$background-landing: #f5f5f5;
$background-card-1: #dde9ed;
$background-card-2: #bfcdd0;
$color-icon: #b40001;
$color-font: black;
$color-font-footer: #d8d8d8;
$color-font-preview: #114e4e;
$color-round-icon: #a2deaf;
$color-button-bar: #438792;
$color-border-reset: #ffffff;
$color-twitter: #00a0f5;
$color-card-share: #d5d5d5;
$color-placeholder: #c5c5c5;
$color-font-preview-2: #420101;
$color-button-bar-2: #bd1010;
$color-round-icon-2: #e95626;
$color-font-preview-3: #3e5b65;
$color-button-bar-3: #eab052;
$color-round-icon-3: #a0c0cf;

// Clases para js

.collapsed {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
