.fill {
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  color: white;
  font-size: 14px;
  margin: 0px 20px;
  border-bottom: 2px solid $color-icon;

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    &--icon {
      color: $color-icon;
    }

    &--word {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
    }

    &--chevron {
      justify-self: flex-end;
      color: $color-icon;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    label {
      margin-bottom: 7px;
    }

    &--imput {
      width: 100%;
      height: 30px;
      border: 1px solid $color-icon;
      margin-bottom: 20px;

      ::placeholder {
        color: $color-placeholder;
      }
    }
  }
}

.container {
  display: flex;
  gap: 10px;
}

.profileImgTitle {
  margin-bottom: 7px;
}

.imgButton {
  display: flex;
  gap: 20px;
}

.action {
  width: 140px;
  height: 30px;
  margin-bottom: 20px;
}
.action__upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $color-icon;
  border-radius: 3px;
  box-sizing: border-box;
  color: $color-border-reset;
  font-size: 14px;
  cursor: pointer;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}

.profile__preview {
  background-image: url("../images/joker_face.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $color-round-icon;
  width: 30px;
  height: 30px;
}
